# ClickHouse native client + компрессия
clickhouse-driver==0.2.9
lz4>=4.3.3
zstandard>=0.22.0
zstd>=1.5.5  # clickhouse-driver импортирует модуль 'zstd' (не 'zstandard')
# ВАЖНО: для Py3.12 есть готовые колёса cityhash. Для Py3.13 они не выходят.
clickhouse-cityhash==1.0.2.4

# Источник (Phoenix)
phoenixdb==1.2.2

# PostgreSQL (журнал)
psycopg[binary]==3.2.9

# Конфиг/валидация
python-dotenv>=1.0.1
pydantic>=2.8.2
pydantic-settings>=2.4.0

# Даты/таймзоны
python-dateutil>=2.9.0.post0
tzdata>=2024.1